---
import Default from '../layouts/Default.astro';
import BannerPage from '../components/BannerPage.astro';
import ContentGeneral from '../components/ContentGeneral.astro';
import Team from '../components/Team.astro';

const bannerData = {
  title: "Our Story"
};

const contentGeneralData = {
  content: '<h2>Lorem ipsum dolor sit amet consectetur.</h2><p>Lorem ipsum dolor sit amet consectetur. Eget dapibus nascetur hac justo quis urna viverra volutpat. Nunc volutpat scelerisque in senectus. Egestas viverra tincidunt gravida eu blandit pulvinar sed quis aliquet. Vitae nullam eget lobortis magna aliquam bibendum lacus pretium at.</p><p>Lorem ipsum dolor sit amet consectetur. Elementum interdum pellentesque sit malesuada sollicitudin dignissim tristique nunc. Vestibulum massa imperdiet dolor nam est nullam volutpat massa. Ac diam luctus euismod turpis. Porta ligula consectetur suspendisse porttitor. Tincidunt cursus euismod pretium adipiscing mattis aenean luctus. Nulla ultricies nisl suspendisse commodo. Malesuada sed ac adipiscing pretium accumsan. Lorem diam elementum platea cursus tempor erat mauris odio amet.</p><p>Lorem ipsum dolor sit amet consectetur. Eu sagittis auctor amet eget in. Quam platea facilisi sed sapien purus sed. Turpis id nibh non faucibus magna aliquam pellentesque urna. Ac morbi augue pulvinar felis elementum congue vitae quis. In quam nunc quis enim. Dis est sapien semper vel. Sagittis placerat blandit egestas egestas sapien.</p>',
  image: {
    src: '../images/our-story-content.jpg',
    altText: '',
    caption: 'Devin and Derrick serving in \'nam.'
  }
}

const teamData = {
  eyebrow: 'The Team',
  heading: 'Meet the team at KMECO',
  team: [
    {
      image: {
        src: '../images/our-story-team-1.jpg',
        altText: ''
      },
      firstName: 'Firstname',
      lastName: 'Lastname',
      title: 'Title/Position'
    },
    {
      image: {
        src: '../images/our-story-team-2.jpg',
        altText: ''
      },
      firstName: 'Firstname',
      lastName: 'Lastname',
      title: 'Title/Position'
    },
    {
      image: {
        src: '../images/our-story-team-3.jpg',
        altText: ''
      },
      firstName: 'Firstname',
      lastName: 'Lastname',
      title: 'Title/Position'
    },
    {
      image: {
        src: '../images/our-story-team-4.jpg',
        altText: ''
      },
      firstName: 'Firstname',
      lastName: 'Lastname',
      title: 'Title/Position'
    },
    {
      image: {
        src: '../images/our-story-team-5.jpg',
        altText: ''
      },
      firstName: 'Firstname',
      lastName: 'Lastname',
      title: 'Title/Position'
    },
    {
      image: {
        src: '../images/our-story-team-6.jpg',
        altText: ''
      },
      firstName: 'Firstname',
      lastName: 'Lastname',
      title: 'Title/Position'
    },
    {
      image: {
        src: '../images/our-story-team-7.jpg',
        altText: ''
      },
      firstName: 'Firstname',
      lastName: 'Lastname',
      title: 'Title/Position'
    }
  ]
}
---

<Default>
  <BannerPage componentData={bannerData}></BannerPage>
  <ContentGeneral componentData={contentGeneralData}></ContentGeneral>
  <Team componentData={teamData}></Team>
</Default>