---
const {componentData} = Astro.props;
---
<section class="container">
  <div class="row">
    <div set:html={componentData.content} ="col"></div>
    <ul class="list">
      {componentData.list.map((item) => 
        <li>{item}</li>
      )}
    </ul>
  </div>
</section>