<footer>
  <div class="container">
    <div class="row">
      <div class="col">
        <h4>Let's get it done right.</h4>
      </div>
      <div class="col">
        <a href="">Send a message</a>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <img src="" alt="KMECO logo">
        <p>Trusted for over 40 years to deliver the best in electrical services in Central Utah.</p>
        <nav>
          <a href="/home">home</a>
          <a href="/projects">projects</a>
          <a href="/why-kmeco">why kmeco?</a>
          <a href="/our-story">our story</a>
          <a href="resources">resources</a>
          <a href="/contact">contact</a>
        </nav>
      </div>
      <div class="col">
        <div class="block">
          <p>Phone number</p>
          <p>+1 435-527-3866</p>
        </div>
        <div class="block">
          <p>Office Hours</p>
          <p>Mon - Fri</p>
          <p>8:00 AM – 5:00 PM</p>
        </div>
        <div class="block">
          <p>Email Address</p>
          <p>info@kmecoutah.com</p>
        </div>
        <div class="block">
          <p>Office Address</p>
          <p>80 North 100 West</p>
          <p>P.O. Box #256</p>
          <p>Elsinore, UT, 84724</p>
        </div>
      </div>
    </div>
    <div class="row">
      <p>© Copyright 2025 - Kevin Moore Electric Company Inc.</p>
    </div>
  </div>
</footer>