---
const {componentData} = Astro.props;
---
<section class="container">
  <div class="row">
    <div class="col">
      {componentData.images.map((image) => 
        <img src={image.src} alt={image.altText}>
      )}
    </div>
  </div>
</section>