<header class="">
  <div class="col">
    <img src="" alt="KMECO logo">
  </div>
  <div class="col">
    <div class="row">
      <nav class="social">
        <a href=""></a>
        <a href=""></a>
        <a href=""></a>
      </nav>
      <p><img src="" alt="map marker icon">80 North 100 West  P.O. Box #256  Elsinore, UT 84724</p>
      <p><img src="" alt="clock icon">M-F: 8:00am - 5:00pm</p>
    </div>
    <div class="row">
      <nav>
        <a href="/">Home</a>
        <a href="/projects">Projects</a>
        <a href="/why-kmeco">Why KMECO?</a>
        <a href="/our-story">Our Story</a>
        <a href="/resources">Resources</a>
        <a href="/contact">Contact</a>
      </nav>
      <a href="">Send a Message <img src="" alt="arrow right icon"></a>
    </div>
  </div>
  <div class="col">
    <div class="icon-block">
      <img src="" alt="phone icon">
    </div>
    <div class="info-block">
      <p>Office Number</p>
      <p>*435) 527-3866</p>
    </div>
  </div>
</header>