---
const componentData = {
  eyebrow: '',
  heading: '',
  content: '',
  cta: {
    ctaLabel: '',
    ctaHref: '' 
  },
  cards: [
    {
      cardHeading: 'Experts in SCADA',
      cardContent: 'We know our stuff when it comes to industrial control  and data systems  using SCADA technology and best practices.'
    },
    {
      cardHeading: 'Full equipment lineup',
      cardContent: 'We have bucket trucks, a crane, a mini excavator and all the tools needed to get your project done the right way.' 
    },
    {
      cardHeading: 'Family owned & operated',
      cardContent: 'KMECO was founded in Elsinore, UT and family owned and operated since 19##. When you call KMECO, we answer.'
    },
    {
      cardHeading: 'Licensed & certified',
      cardContent: 'We’re fully insured  and licensed as Electrical Contractors and Master Electricians.'
    }
  ]
}
---

<section>
  <div class="container">
    <div class="row">
      <div class="col">
        <p class="eyebrow">professional electrical services</p>
        <h1>Service you <br>can trust.</h1>
      </div>
      <div class="col">
        <p>For over 40 years we have delivered superior customer support and professional electrician services to those in Central Utah and beyond. Learn why people choose to work with KMECO below.</p>
        <a href="">Why KMECO?</a>
      </div>
    </div>
    <div class="row">
      {componentData.cards.map((card) => 
        <div class="card">
          <h3>{card.cardHeading}</h3>
          <p>{card.cardContent}</p>
        </div>
      )}
    </div>
  </div>
</section>