---
import Default from '../../layouts/Default.astro';
import BannerPage from '../../components/BannerPage.astro';
import SideBySideFloating from '../../components/SideBySideFloating.astro';
import GalleryProjects from '../../components/GalleryProjects.astro';

const bannerData = {
  title: 'KMECO Projects'
}

const sbsFloatingData = {
  eyebrow: 'Featured project',
  heading: 'Sample Wiring Project',
  content: '<p>This will be the feature project description and should be about 3 sentences in length. This will be the feature project description and should be about 3 sentences in length. This will be the feature project description and should be about 3 sentences in length.</p>',
  ctaLink: '/projects/project-1',
  ctaLabel: 'View Project',
  image: {
    src: '../images/projects-sbs-floating.jpg',
    altText: ''
  }
}

const galleryProjectsData = {
  projects: [
    {
      imageSrc: '../images/projects-cover-1.jpg',
      imageAlt: '',
      title: 'Project Name',
      link: '/projects/project-1'
    },
    {
      imageSrc: '../images/projects-cover-2.jpg',
      imageAlt: '',
      title: 'Project Name',
      link: '/projects/project-1'
    },
    {
      imageSrc: '../images/projects-cover-3.jpg',
      imageAlt: '',
      title: 'Project Name',
      link: '/projects/project-1'
    },
    {
      imageSrc: '../images/projects-cover-4.jpg',
      imageAlt: '',
      title: 'Project Name',
      link: '/projects/project-1'
    },
    {
      imageSrc: '../images/projects-cover-5.jpg',
      imageAlt: '',
      title: 'Project Name',
      link: '/projects/project-1'
    },
    {
      imageSrc: '../images/projects-cover-6.jpg',
      imageAlt: '',
      title: 'Project Name',
      link: '/projects/project-1'
    }
  ]
}
---

<Default>
  <BannerPage componentData={bannerData}></BannerPage>
  <SideBySideFloating componentData={sbsFloatingData}></SideBySideFloating>
  <GalleryProjects componentData={galleryProjectsData}></GalleryProjects>
</Default>